body {
  margin: 0;
}

nav {
  width: 100%;
  height: 55px;
  left: 0px;
  top: 0px;
  background: #88a7db;
  padding: 16px;
  margin-bottom: 48px;
}

.nav--content {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.nav--logo {
  object-fit: contain;
}

.nav--text {
  color: white;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  }

.card {
  display: flex;
  gap: 8px;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.card--img {
  width: 125px;
  border-radius: 5px;
  margin-right: 16px;
}

.card--top {
  display: flex;
  gap: 8px;
}

.card--link{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  align-self: center;
  text-decoration-line: underline;

  color: #918E9B;
}

.card--location {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
  text-transform: uppercase;
}

.location--img {
  width: 7px;
  height: 9.55px;
  align-self: center;
}

.card--title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  color: #2B283A;

}

.card--date {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10.24px;
  line-height: 12px;

  color: #2B283A;
}

.card--description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  color: #2B283A;
}

hr {
  max-width: 700px;
  opacity: 0.3;
  margin-bottom: 30px;
}
